body {
    font-size: 9px;
}

img {
    width: 50px;
    height:50px;
}

ul {
    list-style: none;
}

.icons_top {
  padding: 17px 10px 0 0 ;
  float: right;
}

.icon_circle {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
}

.icon_bell_circle {
    position:absolute;
    top:30%;
    left:30%;
}

.my_small_text {
    font-size: 8px;
}

.my_big_text {
    font-size: 11px;
}

.my_fix_margin_left {
    margin-left: -100px;
}

.my_fix_margin_left_180 {
    margin-left: -180px;
}

.my_contact {
    width: 70px;
    height: 70px;
    margin: 20px;
}

.my_chat_bg {
    background-image: url(https://i.redd.it/qwd83nc4xxf41.jpg);
}

.my_msg {
    width: 100%;
    border-radius: 10px;
}

.msg_sent {
    width: 350px;
    padding: 13px;
    margin: 10px;
    background-color: rgb(191, 228, 154);
    float: right;
}

.msg_received {
    width: 350px;
    padding: 13px;
    margin: 10px;
    background-color: white;
    float: left;
}

.my_grey {
    color: rgb(173, 169, 169);
}

.top_bg {
    background-color: rgb(216, 208, 208);
}

.my_contact_height {
    height: 50px;
}

.my_light_blue {
    background-color: rgb(157, 206, 255);
}

.fa-bell-slash {
    color: rgb(157, 206, 255);
}

.my_inline {
    display: inline-block;
}

.my_input_size {
    width: 310px;
    border-color: rgb(219, 219, 219);
}

.my_br {
    border-radius: 25px;
}

.my_padd_top_right {
    padding: 5px 5px 0 0 ;
}

.my_padd_bottom_right {
    padding: 0 5px 5px 0;
}

.contacts_bg.active {
    background-color: rgb(219, 208, 208);
}

.chat_input {
    background-color: lavender;
    height: 30px;

    margin-top: 500px;
}

.my_input_padding {
    padding: 5px 10px 15px 10px
}