<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link importazione Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!--Link importazione Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

    <!--Link importazione Font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!--Link importazione Css-->
    <link rel="stylesheet" href="css/styles.css">

    <!--Link importazione Vue Production-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>Boolzapp</title>
</head>
<body>


    <div id="app">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-5">

    <!--Aside sinistro-->               

                    <div class="top_bg my_contact_height">
                        
                        <img alt="immagine contatto" v-bind:src="'img/avatar_io.jpg'" class="my_br">
                        <span class="fw-bold">Claudia<span>
                        
                        <div class="icons_top align-self-center">
                            <i class="fas fa-circle-notch my_grey"></i>
                            <i class="fas fa-comment-alt my_grey mx-2"></i>
                            <i class="fas fa-ellipsis-v my_grey"></i>
                        </div>
                    </div>
                    
                    <div class="my_contact_height my_light_blue position-relative">

                        <div class="icon_circle position-relative">
                            <i class="fas fa-bell-slash icon_bell_circle"></i>    
                        </div>
                    
                        <div class="position-absolute top-50 start-50 translate-middle-y my_fix_margin_left">

                            <div class="fw-bold">Ricevi notifiche di nuovi messaggi</div>

                            <div class="my_grey my_small_text text-decoration-underline">Attiva notifiche del desktop</div>
                        </div>
                    </div>
            
                

                <!-- Sezione di ricerca chat per nome contatto--> 
            
                    <div class="my_input_padding">
                        <i class="fas fa-search my_grey"></i> <input type="text" placeholder="Cerca o inizia una nuova chat"  v-model="inputContactSearch" class="my_input_size my_small_text">
                        <div class="fw-bold mt-2">Contatti trovati:</div>
                        <div v-for="input in filterScript">
                            {{inputContactSearch}} -- {{input.name}}
                        </div>
                    </div>

                <!--Sezione contatti con avatar, nome e ultimo messaggio inviato di tutti i contatti presenti-->
                
                    <div v-for="(contatto, index) in contacts" :class="{active : index === selectedContact}" @click="selectContact(index)" class="contacts_bg position-relative" >

                        <img alt="immagine contatti" v-bind:src="'img/avatar' + contatto.avatar + '.jpg'" class="my_br">
                    
                        <div class="position-absolute top-50 start-50 translate-middle-y my_fix_margin_left">
                            <div class="fw-bold my_big_text">{{contatto.name}}</div>

                            <div>{{renderLastElement(index).text}}...</div>
                        </div>  

                        <div class="my_small_text position-absolute top-0 end-0 my_padd_top_right my_grey">{{renderLastElement(index).date}}</div>
                    </div>
                </div>

                
    <!--Aside destro contenente chat-->

        <!--Header con avatar, nome e ultimo accesso del contatto selezionato-->
 
                <div class="col-7 my_chat_bg fix_padding" >

                    <div class="my_msg">
                    
                        <div class="top_bg position-relative">                      

                            <div>
                                <img alt="immagine contatti" v-bind:src="'img/avatar' + contacts[selectedContact].avatar + '.jpg'" 
                                    class="my_br">
                            </div>

                            <div class="position-absolute top-50 start-50 translate-middle-y my_fix_margin_left_180">    

                                <div class="my_big_text fw-bold">{{contacts[selectedContact].name}}</div> 

                                <div>Ultimo accesso oggi alle {{renderLastElement(selectedContact).date}}</div> 
                            </div> 
                            
                        </div>
                        
                    
            <!--Sezione di stampa chat in base al contatto selezionato con divisione colori in base allo stato del messaggio-->

                        <div v-for="(messaggio, index) in contacts[selectedContact].messages" class="my_msg position-relative" 
                        :class="{ msg_sent: (messaggio.status == 'sent'), msg_received: (messaggio.status == 'received')}">

                            {{messaggio.text}}
                            
                                <div class="my_small_text position-absolute bottom-0 end-0 my_padd_bottom_right my_grey">
                                    {{messaggio.date}}
                                </div>

                            {{renderLastElement(selectedContact).messaggio}}
                    
                        </div>
                    </div>    
            <!--Sezione inserimento messaggio chat con risposta automatica-->

                        <div class="my_contact_height chat_input text-center my_input_padding">
                            <i class="far fa-smile my_grey"></i><input type="text" placeholder="Scrivi messaggio" v-model="inputLine.text" @keyup.enter="addTextToChat(), addReplyToChat()" class="my_input_size mx-5">
                            <i class="fas fa-microphone my_grey"></i>

                        </div>   
                </div>    
            </div>    
        </div>
    </div>

    <script type="text/javascript" src="javascript/myscript.js"></script>
</body>
</html>